Checks:
  - '*'
  - '-llvmlibc-restrict-system-libc-headers'
  - '-readability-identifier-length'
  - '-misc-include-cleaner'
  - '-google-readability-namespace-comments'
  - '-cppcoreguidelines-avoid-magic-numbers'
  - '-readability-magic-numbers'
  - '-llvm-qualified-auto'
  - '-fuchsia-trailing-return'
  - '-readability-qualified-auto'
  - '-hicpp-braces-around-statements'
  - '-readability-avoid-nested-conditional-operator'
  - '-hicpp-avoid-c-arrays'
  - '-cppcoreguidelines-avoid-c-arrays'
  - '-readability-function-cognitive-complexity'
  - '-cppcoreguidelines-pro-type-vararg'
  - '-hicpp-vararg'
  - '-hicpp-signed-bitwise'
  - '-llvm-header-guard'
  - '-fuchsia-default-arguments-calls'
  - '-fuchsia-default-arguments-declarations'
  - '-llvm-namespace-comment'
  - '-abseil-*'
  - '-altera-*'
  - '-boost-*'
  - '-objc-*'
  - '-openmp-*'
  - '-llvmlibc-*'
HeaderFilterRegex: '.*'
CheckOptions:
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '2'
